<div id="<%= dom_id property %>">
  <div>
    <strong>Name:</strong>
    <%= property.name %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= property.address %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= property.price %>
  </div>

  <div>
    <strong>Rooms:</strong>
    <%= property.rooms %>
  </div>

  <div>
    <strong>Bathrooms:</strong>
    <%= property.bathrooms %>
  </div>

</div>
